<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693855062171-mqpi9uajrp2i1ould5697jopmrc4nvgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693855062171-mqpi9uajrp2i1ould5697jopmrc4nvgd</string>
	<key>API_KEY</key>
	<string>AIzaSyAkQKjerRQY3a78c2JQ71TlZvZFMoAPJVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>693855062171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinity.alphaEstates</string>
	<key>PROJECT_ID</key>
	<string>alpha-real-estate-e46c6</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-real-estate-e46c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693855062171:ios:b731e7da98255bb6095e3e</string>
</dict>
</plist>